*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  text-align: center;
  margin-top: 200px;
}

.appItmes{
  display: inline-block;
  background-color: #1e3799;
  padding: 30px 20px;
  border-radius: 10px;
}

.smsIcon{
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
}

.text{
  color: #fff;
  margin-bottom: 5px;
}

.counter{
  color: #f6b93b;
  font-size: 30px;
  font-weight:bold ;
}